.tarzan{
	width: 200px;
}
h1 {
	font-weight: 5;
}
.row {margin-top: 50px;

}
body{
	background-color:#c44b4b;
}
.row{
	background-color: #f5abab ;
}
.stiliaristera {
	background-color: #dbe8f3 ;
}
.tarzans{
	width: 400px;
}
.tarzann{
	width:300px;
}